*{
    margin: 0px;
    box-sizing: content-box;
}

header{
    margin: 0px 20px;
    padding: 10px;
    background-color: rgb(225, 211, 193);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

header h1{
    text-align: center;
    margin: 30px;
}
header h2{
    text-align: center;
    margin-bottom: 30px;
}

body{
    background-image: url(../img/background.webp);
    color:#333333;
    font-family: Arial, Helvetica, sans-serif;
}

main section img{
    width: 200px;
    border-radius: 3%;
}
ul{
    list-style:none;
}

a{
    text-decoration: none;
    color: #333333;
}

a:hover{
    text-decoration: underline;
    color:#2020be;
}

.contacto{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0);
    background-color: rgba(103, 103, 103, 0);

}

main section h3{
    margin: 10px 0px;
    font-size: 24px;
}

main section div h3{
    margin: 30px;
    font-size: 24px;
}

main section{
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
}
.title{
    font-size: 20px;
}
main section ul{
    margin: 10px;
}

main section ul ol li{
    margin: 5px;
}
footer{
    margin: 0px 20px;
    padding: 20px 15px;
    background-color: rgb(225, 211, 193);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
}